In [14]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import mysql.connector

In [15]:
#Connect to MySQL db
conn = mysql.connector.connect(user='root', password='password',
                              host='127.0.0.1',
                              database='nhl_db')

In [16]:
#Read in all career player stats
df = pd.read_sql_query(f"""


""", conn)

conn.close()

DatabaseError: Execution failed on sql '


': 1065 (42000): Query was empty

In [ ]:
df