In [109]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.linear_model import Ridge
from sqlalchemy import create_engine
import mysql.connector

## Connect to DB

In [111]:
conn = create_engine("mysql://root:password@localhost/nhl_db", pool_recycle=3600)

In [113]:
df = pd.read_sql("""

with cte as (
    Select  gamePk, 
            date, 
            team_name, 
            home_away, 
            bs.gf + ifnull(so_win,0) gf,
            ifnull(bs.ga,0) + ifnull(shootouts_played,0) - ifnull(so_win,0) ga
            from nhl_db.d_box_scores bs

            left join d_team_standings s
            on s.team_id = bs.team_id),

home as (

    Select gamePk,
    date,
    team_name home,
    sum(gf) gf

    from cte

    where home_away = 1


group by 1,2,3),

away as (

    Select gamePk,
    date,
    team_name away,
    sum(gf) gf

    from cte

    where home_away = 0


    group by 1,2,3 )


Select a.date,
       h.home,
       a.away,
       h.gf home_goals,
       a.gf away_goals,
       h.gf - a.gf goal_difference,
       case when h.gf - a.gf  > 0 then 1 else 0 end as home_win,
       case when h.gf - a.gf  < 0 then 1 else 0 end as home_loss
       
from home h

join away a
on h.gamePk = a.gamePk

where left(a.gamePk, 4) >= 2019""", conn)

In [114]:
df.head()

,date,home,away,home_goals,away_goals,goal_difference,home_win,home_loss
0,2019-10-02,Toronto Maple Leafs,Ottawa Senators,5.0,3.0,2.0,1,0
1,2019-10-02,St. Louis Blues,Washington Capitals,2.0,3.0,-1.0,0,1
2,2019-10-03,Edmonton Oilers,Vancouver Canucks,3.0,2.0,1.0,1,0
3,2019-10-03,Vegas Golden Knights,San Jose Sharks,4.0,1.0,3.0,1,0
4,2019-10-03,Tampa Bay Lightning,Florida Panthers,5.0,2.0,3.0,1,0

In [115]:
df_away = pd.get_dummies(df['away'], dtype=np.int64)
df_home = pd.get_dummies(df['home'], dtype=np.int64)

In [116]:
df_model = df_home.sub(df_away) 
df_model['goal_difference'] = df['goal_difference']

In [117]:
df_model.head()

,Anaheim Ducks,Arizona Coyotes,Boston Bruins,Buffalo Sabres,Calgary Flames,Carolina Hurricanes,Chicago Blackhawks,Colorado Avalanche,Columbus Blue Jackets,Dallas Stars,...,Pittsburgh Penguins,San Jose Sharks,St. Louis Blues,Tampa Bay Lightning,Toronto Maple Leafs,Vancouver Canucks,Vegas Golden Knights,Washington Capitals,Winnipeg Jets,goal_difference
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,2.0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,-1,0,-1.0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,-1,0,0,0,1.0
3,0,0,0,0,0,0,0,0,0,0,...,0,-1,0,0,0,0,1,0,0,3.0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,3.0

In [118]:
df_train = df_model # not required but I like to rename my dataframe with the name train.

lr = Ridge(alpha=0.001) 
X = df_train.drop(['goal_difference'], axis=1)
y = df_train['goal_difference']

lr.fit(X, y)

Ridge(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [119]:
df_ratings = pd.DataFrame(data={'team': X.columns, 'rating': lr.coef_})
df_ratings.sort_values('rating', ascending=False)

                     team    rating
25    Tampa Bay Lightning  0.722364
2           Boston Bruins  0.691984
7      Colorado Avalanche  0.661402
21    Philadelphia Flyers  0.561908
24        St. Louis Blues  0.462128
5     Carolina Hurricanes  0.419018
29    Washington Capitals  0.408483
22    Pittsburgh Penguins  0.379059
28   Vegas Golden Knights  0.216958
30          Winnipeg Jets  0.159342
26    Toronto Maple Leafs  0.149616
19       New York Rangers  0.136769
1         Arizona Coyotes  0.127064
27      Vancouver Canucks  0.124286
11        Edmonton Oilers  0.102529
9            Dallas Stars  0.073527
12       Florida Panthers  0.047452
14         Minnesota Wild  0.005777
18     New York Islanders -0.002115
16    Nashville Predators -0.040879
6      Chicago Blackhawks -0.043126
4          Calgary Flames -0.063956
8   Columbus Blue Jackets -0.129023
15     Montréal Canadiens -0.129469
3          Buffalo Sabres -0.350335
13      Los Angeles Kings -0.468082
0           Anaheim Ducks -0.535390
17      New Jersey Devils -0.573354
23        San Jose Sharks -0.628025
20        Ottawa Senators -0.768751
10      Detroit Red Wings -1.717163